{% extends 'AppAppBundle::admin_layout.html.twig' %}

{% block body %}
    <div class="page-header">
        <h1>Admin</h1>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="list-group">
                <a href="{{ path('admin_category_index') }}" class="list-group-item">
                    <span class="badge">{{ categoriesCount }}</span>
                    <h4 class="list-group-item-heading">
                        {{ icon('asterisk') }}
                        Kategorie
                    </h4>
                    <p class="list-group-item-text">Zarządzaj kategoriami.</p>
                </a>
                <a href="{{ path('admin_product_index') }}" class="list-group-item">
                    <span class="badge">{{ productsCount }}</span>
                    <h4 class="list-group-item-heading">
                        {{ icon('th') }}
                        Produkty
                    </h4>
                    <p class="list-group-item-text">Zarządzaj produktami.</p>
                </a>
                <a href="{{ path('admin_order_index') }}" class="list-group-item">
                    <span class="badge">{{ openPurchasesCount }}</span>
                    <h4 class="list-group-item-heading">
                        {{ icon('shopping-cart') }}
                        Zamówienia
                    </h4>
                    <p class="list-group-item-text">Przeglądaj zamówienia.</p>
                </a>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">{{ icon('time') }} Ostatne otwarte zamówienia</div>
                    {% if latestOpenPurchases|length %}
                        <div class="list-group">
                            {% for purchase in latestOpenPurchases %}
                                <a href="{{ path('admin_order_show', { purchaseId: purchase.id }) }}"
                                   class="list-group-item">
                                    {{ purchase.createdAt|date('d.m.Y') }} -
                                    {{ purchase.orderer }}

                                    <span class="pull-right">{{ icon('arrow-right') }}</span>
                                </a>
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="panel-body">
                            <p class="text-muted text-center">Nie ma otwartych zamówień.</p>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
