{{ form_start(form, { style: 'horizontal', action: action, method: 'post' }) }}
    {{ form_row(form.name) }}
    {{ form_row(form.image) }}

    {% if form.vars.value.imageName %}
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                Szczegóły produktu
                <img class="thumbnail" src="{{ vich_uploader_asset(form.vars.value, 'image') | imagine_filter('product_details') }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                Lista produktów
                <img class="thumbnail" src="{{ vich_uploader_asset(form.vars.value, 'image') | imagine_filter('product_listing') }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-2"></div>
            <div class="col-lg-10">
                Koszyk
                <img class="thumbnail" src="{{ vich_uploader_asset(form.vars.value, 'image') | imagine_filter('product_cart') }}" />
            </div>
        </div>
    {% endif %}

    <div class="form-group row {% if form_errors(form.description) %}has-error{% endif %}">
        {{ form_errors(form.description) }}
        {{ form_widget(form.description, { attr: { rows: 25, class: 'rich-editor' } }) }}
    </div>

    {#{{ form_row(form.description) }}#}

    <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
            <button class="btn btn-success">{{ icon('ok') }} Zapisz</button>
            <a href="{{ path('admin_product_index') }}" class="btn btn-default">{{ icon('chevron-left') }} Anuluj</a>
        </div>
    </div>
{{ form_end(form) }}
